h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
    display:inline;
    float: left;
    background-color: #cdcdcd;
    color:greenyellow;
    margin: 0;
    padding: 10px;
}


.wrapper{
    width: 800px;
    margin: 0 auto;
    background-color: bisque;
    
}

#banner ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #cdcdcd;
    
  }
  
#banner li  {
    float: right;  
  }
#banner li a {
    display: block;
    color:greenyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
#banner li a:hover {
    background-color: #111;
  }