/*GLOBAL STYLES*/
html {
	font-size: 1em;
}

body {
	margin: 0;
	background-color: #fafafa;
	color: #9e9e9e;
	font-family: 'arial', sans-serif;
	
	
}
.site-id {
	float: left;
	font-size: 3rem; 
	color: #7bbc1a;
	padding-top: 7px;
	margin: 0;
	
	
  }

main{
	padding-bottom: 40px;
}




/*LAYOUT*/


.wrapper {
	
	width: 800px;
	margin: 0 auto;
}

main {
	background-color: #181818;
}

#banner  {
	
	padding-bottom: 20px;
	margin: 0;
}




/*SPECIAL LAYOUTS*/

.home article {
	padding-top: 120px;
}

/*contact us form*/
form {
	width: 500px;
	margin-left: 150px;
	padding-bottom: 40px;
}
input {
	display: inline-block;
	border: 0;
	padding: 10px;
	height: 20px;
	width: 150px;
	border-radius: 14px;
}

label {
	display: inline-block;
	margin: 15px 0 5px 0;
}

textarea {
	border: 0;
	padding: 10px;
	border-radius: 14px;
	width: 480px;
	height: 300px;
}

button {
	display: inline-block;
	border: 0;
	margin-top: 15px;
	padding: 10px;
	width: 170px;
	height: 40px;
	border-radius: 14px;
	background-color: #7bbc1a;
	color: #fafafa;
}
/* end contact form end*/
/*WildLive fix */

.home-site-id {
	float: center;
	font-size: 3rem; 
	color: #7bbc1a;
	padding-top: 7px;
	margin: 0;
	padding-left: 10px;
	

}






/*LINKS AND NAV*/





#menu{
	padding-top: 30px;
	
	
}

#menu ul{


	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
	
	
}

#menu li {
	display: inline-block;
	margin: 0 10px;
	text-decoration: none;
	
	
  }

#menu a {
	text-decoration: none;
	color: #7bbc1a;
	margin: 10px;
	

}
#menu a:hover,
#menu .current a {
	color:black;
	
}

#menu a:active{
	color: blue;
}

/*FOOTER*/
.site-id-footer{
	color: #7bbc1a;
	font-size: 2em;
}
#colophon{
	color: black;
	text-align: center;
	
}



#colophon ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;

}

#colophon li{
	margin: 0 10px;
	padding: 0;
	display: inline-block;
	
}

#colophon a{
	text-decoration: none;
	color: black;
	margin: 0;
}
#colophon a:hover,
#colophon .current a {
	color:#7bbc1a;
	
}
.bottom-footer{
	margin-bottom: 30px;
}
.bottom-footer li{
	margin: 0 10px;
}

/*END OF FOOTER*/



/*FONTS AND TYPEOGRAPHY*/

h1, h2, h3 {
	font-family: 'Aptly', sans-serif;
}
.info-text h2,
.content h2 {
	font-size: 3em;
	color: #7bbc1a;
}
.contact-us .page-name{
	margin: 0px;
	padding-top: 20px;
	font-size: 3rem;
}

.about-us .page-name {
	margin: 0px;
	position: relative;
	top: 200px;
	font-size: 5rem;
	color: white;
}

.solutions .page-name {
	margin: 0px;
	position: relative;
	top: 200px;
	font-size: 5rem;
	color: white;
}
.page-name{
	color: #7bbc1a;
}




.intro-title{
	clear: both;
	position:relative;
	margin: 0;
	padding: 0;
	top:210px;
	font-size: 3em;
	color: white;
	

}

.wildlife-example{
	color: #7bbc1a;
	font-size: 2em;

}

.my-link {
	color: #7bbc1a;
	text-decoration: none;
  }
  
  .my-link:hover {
	color: blue;
	text-decoration: underline;
  }


/*IMAGES*/
.hero-image{
	height: 300px;
  	background-position: center;
}


.home .hero-image{
	
	background-image: url('../images/giraffe-tint.jpg');
	
	background-repeat: no-repeat;
	background-size: cover;



}

.about-us .hero-image{
	
	background-image: url('../images/ducksflying.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.solutions .hero-image{
	
	background-image: url('../images/deer.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

/*SOLUTIONS IMGS*/

.showcase img{
	width: 400px;
	
	
}
.info{
	display: grid;
	grid-template-columns: 60% 40%;
}


/*Head-Shot CSS */
.three-column {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	column-gap: 5%;
	

  }
  
figure.member {
	
	margin: 0 20px;
	text-align: center;
	
	
  }
  
.member img {
	
	border-radius: 25%; 
	width: 100%;
	padding-bottom: 10px;
	height: 200px;

}
	
/*END Head-Shot DONE*/

/*UTILITES*/




	


	/*object-fit: cover; */
	/*object-position: center; /*
  
  
  .member h3 {
	font-size: 1.2em;
	margin-top: 10px;
  }








